# This file is used to setup env
# to generate documentation.

sphinx>=2.4.3,<2.5.0
sphinx-autodoc-typehints>=1.10.3,<1.11.0
recommonmark>=0.6.0,<0.7.0
m2r>=0.2.1,<0.3.0
tomlkit>=0.5.11,<0.6.0

# Dependencies of our project:
typing-extensions>=3.7.4.1,<3.8.0
